#outmost{
    width:1000px;
    margin: 1rem auto 0;
 

}

#container{
    width:100%;
    padding: 30px 10px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: aqua;
    border: dashed;

}

#saveOrCustomButton{
   
    width: 6%;
    background-color: tomato;
    border-style: solid;
    position:absolute;
    top:-1%;
    right:0%;
   
    
}

#container div{
    position: relative;
}


.Visible{
    display:inline-block;
}

.Hidden{
    display:None;
}


.Hidden>p+img{
 
    position:absolute;
    top:0%;
    right:0%;
    content:url(images/eye-close.png);
}

.Visible>p+img{
    
    position:absolute;
    top:0%;
    right:0%;
    content:url(images/eye-open.png);
}
